{
    padding:0;
    margin:0;
    
}
.header{
    min-height:100vh;
    width:100%;
    background-color:white;
    background-position:center;
    background-size:cover;
    position:relative;
    
}

nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}

.log{
    height:50px;
    width:50px;
    background:none;
}

.nav-links{
    flex:1;
    text-align:right;
}

 li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
a{
    color:gold;
    text-decoration:none;
    font-size:13px;
    text-transform:uppercase;
}
.n{
    color:gold;
    text-decoration:none;
    font-size:13px; 
    
}
.home,li:hover{
    background:blue;
    border-radius:3px;
    transition:0.5s;
}
.text-box{
    width:90%;
    color:blue;
    position:absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
p{
    color:blue;
    margin: 10px 0 10px
    
}
h1{
    font-size:40px;
}

.btn{
    display:inline-block;
    color:gold;
    text-decoration:none;
    font-size:13px;
    text-transform:uppercase;
    background:blue;
    border-radius:3px;
    padding:12px 34px;
    position:relative;
    cussor:pointer;
}
.menubar{
    display:none;
}
    /*
@media(max-width:700px){
    h1{
    font-size:40px;
}
    li{
        display:block;
    }
    .nav-links{
        position:absolute;
        background:red;
        width:200px;
        height:100vh;
        top:0;
        right:-200;
        text-align:left;
        z-index:2;
        display:none;
    }
     .menubar{
        display:block;
        color:gold;
        margin:10px;
        font-size:2px;
        cussor:pointer;
        width:40px;
        height:40px:
        
    }
    ul{
        padding:30px;
    }
    .text-box{
        top:70%;
    }
}*/

    .about{
        
  }
